{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">My Reviews</h2>
                <hr>
                <div class="row">
                    <div class="col">
                        <div class="review table-responsive">
                            <table class="table table-sm table-borderless text-secondary">
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Rating</th>
                                        <th>Review</th>
                                        <th class="text-danger">Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for review in reviews %}
                                    <tr>
                                        <td>
                                            {% if review.product.image %}
                                            <a href="{% url 'review' %}">
                                                <img class="card-img-top img-fluid h-50 w-50" src="{{ review.product.image.url }}"
                                                    alt="{{ item.product.name }}">
                                            </a>
                                            {% else %}
                                            <a href="{% url 'review' %}">
                                                <img class="card-img-top img-fluid h-50 w-50" src="{{ MEDIA_URL }}0noimage.png"
                                                    alt="{{ item.product.name }}">
                                            </a>
                                            {% endif %}
                                        </td>
                                        <td>{{ review.rating }}</td>
                                        <td>{{ review.review }}</td>
                                        <td>
                                            <a type="button" class="btn btn-secondary rounded-pill btn-sm"
                                                href="{% url 'delete_review' review.id %}">
                                                Remove
                                            </a>
                                        </td>
                                        <td>
                                            <a type="button" class="btn btn-secondary rounded-pill btn-sm"
                                                href="{% url 'edit_review' review.id %}">
                                                Edit
                                            </a>
                                        </td>

                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <a href="{% url 'products' %}" class="btn btn-outline-secondary rounded-pill btn-lg">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Add review</span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}