#profile-update-form .form-control {
    color: grey;
}

.profile-form-input::placeholder {
    color: #aab7c4;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: grey;
}

#id_default_country option:first-child {
    color: #aab7c4;
}
